node_modules/
**/node_modules/
.expo/
**/.expo/
.env
**/.env
dist/
**/dist/
web-build/
**/web-build/
*.log
**/*.log
.DS_Store
**/.DS_Store
.vscode/
**/.vscode/
android/
**/android/
ios/
**/ios/
.idea/
**/.idea/
